.info {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.info .password {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.password span {
  font-size: xx-large;
  margin: 0;
}

.info .buttons {
  display: flex;
  justify-content: end;
  gap: 7px;
  margin: 0.3rem;
}

.info .buttons button {
  font-size: medium;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
