.info {
  display: flex;
  height: 3rem;
  align-items: center;
  width: 100%;
  gap: 1rem;
  background-color: #808081;
  border-radius: 5px;
}

.info .password {
  display: flex;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
}

.password span {
  font-size: xx-large;
  margin: 0;
}

.info .buttons {
  display: flex;
  height: 100%;
  justify-content: end;
  gap: 7px;
}

.info .buttons button {
  width: 5rem;
  font-size: medium;
  padding: 0px 8px;
  border-radius: 5px;
  border: 2.5px solid #606062;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #606062;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  color: white;
}

.info .buttons button:hover {
  background-color: #f27d05;
  border-color: #f27d05;
  box-shadow: 0px 0px 20px -18px;
}

.info .buttons button:active {
  transform: scale(0.95);
}
