#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #606062;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  top: 30px; /* Mudança: posição superior */
  right: 30px; /* Mudança: canto direito */
  font-size: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Animações ajustadas para o topo */
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
